<header>
    <a routerLink="/" class="logo"> <img src="../../../assets/logo.svg" alt="logo"></a>
    <ul>
            <li>
                <a routerLink="/questions">Questions</a>
            </li>
            <li>
                <a routerLink="/tags">Tags</a>
            </li>
            <li>
                <a routerLink="/users">Users</a>
            </li>
    </ul>

    <div class="profile">

            <a routerLink="#">John</a>

        <button class="login"><a routerLink="/login">Log in</a></button>
        <button class="register"><a routerLink="/register">register</a></button>
    </div>
</header>