<header>
    <a href="#" routerLink="#" class="logo"> <img src="../../../assets/logo.svg" alt="logo"></a>
    <ul>
            <li>
                <a href="#" routerLink="#">Questions</a>
            </li>
            <li>
                <a href="#" routerLink="#">Tags</a>
            </li>
            <li>
                <a href="#" routerLink="#">Users</a>
            </li>
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
    </ul>

    <div class="profile">
        <button class="login">log in</button>
        <button class="register">register</button>
    </div>
</header>