<body>
    <div class="container">
        <div class="allQuestions">
            <div class="header">
                <h1>All Questions</h1>
                <button>Ask Question</button>
            </div>
            <div class="filter">
                <p>23,742,333 questions</p>
                add popup for filter<button>Filter</button>
            </div>
        </div>

        <div class="all-content">
            <div class="votes">
                <p>0 votes</p>
                <p>0 answers</p>
            </div>
            <div class="question-content">
                <div class="content">
                    <a href="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, id?</p>
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, enim! Iure voluptas hic error debitis minima, assumenda tenetur vero sequi facilis ipsum accusamus tempore animi.</p>
                </div>
                <div class="w">
                    <div class="tag">
                        <a href="">javascript</a>
                    </div>
                    <p><a href="">John Doe</a> asked 1 day ago</p>
                </div>
            </div>
        </div>
    </div>
</body>
