*{
    background-color: #fff;
}

.container{
    padding-top: 2rem;
    margin: 0 10rem;
    border-left: 1.5px solid #aab6c2;
}
.allQuestions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1.5px solid #aab6c2;
    padding: 0 1rem;
    gap: .5rem;
}
.header,.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header button{
    width: 100px;
    height: 38px;
    background-color: #0A95FF;
    color: #fff;
    border: none;
    border-radius: .3rem;
    padding:0 .8rem;
}

.filter button{
    width: 100px;
    height: 38px;
    background-color: #E1ECF4;
    color: #39739d;
    border: none;
    border-radius: .3rem;
}
.all-content{
    padding: 1rem;
    border-bottom: 1.5px solid #aab6c2;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.votes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    width: 170px;
}

.question-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content a p{
    color: #0A95FF;
    font-size: 1.5rem;
}

.tag{
    display: flex;
    flex-wrap: wrap;
}
.tag a{
    background-color: #E1ECF4;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: .4rem;
    font-weight: 600;
    color: #39739d;
    text-transform: capitalize;
}

.w{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w p a{
    color: #0A95FF;
    font-size: 1.1rem;
}

@media(max-width:800px){
    .container{
        margin: 0 2rem;
        border: none;
    }
}
@media(max-width:550px){
    .all-content{
        flex-direction: column;
    }
    .votes{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .w{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media(max-width:450px){
    .container{
        width: 100%;
    }
}