<body>
    <div class="container">
        <div class="allQuestions">
            <div class="header">
                <h1>All Questions</h1>
                <a routerLink="/ask-question">
                    <button>Ask Question</button>
                </a>
            </div>
            <app-search></app-search>
            <div class="filter">
                <p>23,742,333 questions</p>
                add popup for filter<button>Filter</button>
            </div>
        </div>

        <div class="all-content" *ngFor="let question of questions">
            <div class="votes">
                <p>0 votes</p>
                <p>0 answers</p>
            </div>
            <div class="question-content" >
                    <div class="content">
                        <a routerLink="/question/{{question.id}}">
                            <p>{{question.heading}}</p>
                        </a>
                        <p>{{question.description}}</p>
                    </div>
                    <div class="w">
                        <div class="tag">
                            <a href="">{{question.tags}}</a>
                        </div>
                        <p><a href="">John Doe</a> asked 1 day ago</p>
                    </div>
            </div>
        </div>
    </div>
</body>