<body>
    <div class="container">
        <img src="../../../assets/small logo.svg" alt="logo">
        <div class="login-page">
            <form action="">
                <label for="email">Email</label>
                <input type="text" name="" id="">
                <div class="reset-password">
                    <label for="password">Password</label>
                    <a href="#" class="reset">Forgot Password?</a>
                </div>
                <input type="text" name="" id="">
                <button>log in</button>
            </form>
        </div>
        <p>Don't have an account? <a href="#" routerLink="#">Register</a></p>
    </div>
</body>
