body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 80vh;
    width: 50%;
}
.login-page,form,label,input,.reset-password,.reset{
    background-color: #fff;
}
.login-page{
    margin-top: 0;
    width: 26rem;
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .3rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
}
input{
    width: 22rem;
    height: 2.1rem;
    border: 1px solid #babfc4;
    border-radius: .25rem;
    margin-top: 0;
}
label{
    margin-top: .5rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.2rem;
}
.reset-password{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reset{
    margin-top: .5rem;
}
a{
    color: #0a95ff;
    font-size: 1.2rem;
}
button{
    margin-top: .5rem;
    width: 22rem;
    height: 2.4rem;
    border: none;
    border-radius: .25rem;
    color: #fff;
    background-color: #0a95ff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.2rem;
}
p{
    font-size: 1.2rem;
}