<body>
    <div class="container">
        <img src="../../../assets/small logo.svg" alt="logo">
        <div class="login-page">
            <form action="" [formGroup]="loginForm" (ngSubmit)="doLogin()">
                <label for="name">Name</label>
                <input type="text" formControlName="name">
                <div class="reset-password">
                    <label for="password">Password</label>
                    <!-- add popup for reset password -->
                    <a class="reset">Forgot Password?</a>
                </div>
                <input type="password" formControlName="password">
                <button>log in</button>
            </form>
        </div>
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </div>
</body>
