.search{
    background-color: #fff;
}
.search input{
    border: 1px solid #838C95;
    border-radius: .3rem;
    width: 600px;
    height: 32.59px;
    padding: 1rem;
    font-size: 1.1rem;
    outline: none;
}